# Ignore virtual environment
venv/
__pycache__/
*.pyc

# Ignore environment variables
.env

# Ignore log files
*.log

# Ignore large library files
*.dll
*.lib

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db